nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: "Bungee", cursive;
  margin-left: 1.5em;
}

#new-tweet {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div p {
  margin-bottom: 5px;
}

nav i {
  color: red;
  animation: bounce 1.5s infinite;
}

nav button {
  background-color: #4056a1;
  border: none;
}

nav button:hover {
  cursor: pointer;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-7px);
  }
  90% {
    transform: translateY(-3px);
  }
}

@media screen and (max-width: 766px) {
  nav {
    background-color: #db9200;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }
}
