form {
  margin-top: 1em;
}

form button {
  background-color: #4056a1;
  font-family: "Bungee", cursive;
  color: white;
  cursor: pointer;
}

form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid grey 3px;
  margin-bottom: 0.5em;
}

.new-tweet .form-control {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee", cursive;
}

.alert {
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  background-color: #f14040;
  display: flex;
  height: 50px;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-text {
  padding: 10px;
}
